ANG-ABP-REALTIME-SYSTEM/ANG-ABP-SURVEYOR-CLASS/Service References/wcfAX/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://abpwebtest.anglian-windows.com/ax-surveyor-service-ext-105/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://abpwebtest.anglian-windows.com/ax-surveyor-service-ext-105/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://abpwebtest.anglian-windows.com/ax-surveyor-service-ext-105/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" />
      <xsd:import schemaLocation="https://abpwebtest.anglian-windows.com/ax-surveyor-service-ext-105/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ANG_ABP_INTERFACE_4" />
      <xsd:import schemaLocation="https://abpwebtest.anglian-windows.com/ax-surveyor-service-ext-105/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://abpwebtest.anglian-windows.com/ax-surveyor-service-ext-105/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_CLASS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_UploadUnitInstallationStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadUnitInstallationStatus" />
  </wsdl:message>
  <wsdl:message name="IService_UploadUnitInstallationStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadUnitInstallationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CheckForSubProjectsUnitDataChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckForSubProjectsUnitDataChanges" />
  </wsdl:message>
  <wsdl:message name="IService_CheckForSubProjectsUnitDataChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckForSubProjectsUnitDataChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FetchInstallersProjectsList_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchInstallersProjectsList" />
  </wsdl:message>
  <wsdl:message name="IService_FetchInstallersProjectsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchInstallersProjectsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FetchInstallersList_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchInstallersList" />
  </wsdl:message>
  <wsdl:message name="IService_FetchInstallersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchInstallersListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CheckForUpdatedSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckForUpdatedSettings" />
  </wsdl:message>
  <wsdl:message name="IService_CheckForUpdatedSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckForUpdatedSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnAreSystemsAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnAreSystemsAvailable" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnAreSystemsAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnAreSystemsAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectFileChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectFileChanges" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectFileChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectFileChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CheckForDataDownloadChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckForDataDownloadChanges" />
  </wsdl:message>
  <wsdl:message name="IService_CheckForDataDownloadChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckForDataDownloadChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadFileChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileChanges" />
  </wsdl:message>
  <wsdl:message name="IService_UploadFileChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadSubProjectFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSubProjectFiles" />
  </wsdl:message>
  <wsdl:message name="IService_UploadSubProjectFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadSubProjectFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadSubProjectDataChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSubProjectDataChanges" />
  </wsdl:message>
  <wsdl:message name="IService_UploadSubProjectDataChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadSubProjectDataChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadSubProjectNotesChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSubProjectNotesChanges" />
  </wsdl:message>
  <wsdl:message name="IService_UploadSubProjectNotesChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadSubProjectNotesChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectFileDownload_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectFileDownload" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectFileDownload_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectFileDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectFiles" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectData" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectsList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectsList" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnSubProjectsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSubProjectsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnBaseEnums_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBaseEnums" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnBaseEnums_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBaseEnumsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SearchForContract_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchForContract" />
  </wsdl:message>
  <wsdl:message name="IService_SearchForContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchForContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ValidateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateProject" />
  </wsdl:message>
  <wsdl:message name="IService_ValidateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FetchFailedSurveyReasons_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchFailedSurveyReasons" />
  </wsdl:message>
  <wsdl:message name="IService_FetchFailedSurveyReasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchFailedSurveyReasonsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="UploadUnitInstallationStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadUnitInstallationStatus" message="tns:IService_UploadUnitInstallationStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadUnitInstallationStatusResponse" message="tns:IService_UploadUnitInstallationStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckForSubProjectsUnitDataChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckForSubProjectsUnitDataChanges" message="tns:IService_CheckForSubProjectsUnitDataChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckForSubProjectsUnitDataChangesResponse" message="tns:IService_CheckForSubProjectsUnitDataChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchInstallersProjectsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FetchInstallersProjectsList" message="tns:IService_FetchInstallersProjectsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FetchInstallersProjectsListResponse" message="tns:IService_FetchInstallersProjectsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchInstallersList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FetchInstallersList" message="tns:IService_FetchInstallersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FetchInstallersListResponse" message="tns:IService_FetchInstallersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckForUpdatedSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckForUpdatedSettings" message="tns:IService_CheckForUpdatedSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckForUpdatedSettingsResponse" message="tns:IService_CheckForUpdatedSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnAreSystemsAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnAreSystemsAvailable" message="tns:IService_ReturnAreSystemsAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnAreSystemsAvailableResponse" message="tns:IService_ReturnAreSystemsAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectFileChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnSubProjectFileChanges" message="tns:IService_ReturnSubProjectFileChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnSubProjectFileChangesResponse" message="tns:IService_ReturnSubProjectFileChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckForDataDownloadChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckForDataDownloadChanges" message="tns:IService_CheckForDataDownloadChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckForDataDownloadChangesResponse" message="tns:IService_CheckForDataDownloadChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadFileChanges" message="tns:IService_UploadFileChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadFileChangesResponse" message="tns:IService_UploadFileChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSubProjectFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadSubProjectFiles" message="tns:IService_UploadSubProjectFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadSubProjectFilesResponse" message="tns:IService_UploadSubProjectFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSubProjectDataChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadSubProjectDataChanges" message="tns:IService_UploadSubProjectDataChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadSubProjectDataChangesResponse" message="tns:IService_UploadSubProjectDataChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSubProjectNotesChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadSubProjectNotesChanges" message="tns:IService_UploadSubProjectNotesChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadSubProjectNotesChangesResponse" message="tns:IService_UploadSubProjectNotesChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectFileDownload">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnSubProjectFileDownload" message="tns:IService_ReturnSubProjectFileDownload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnSubProjectFileDownloadResponse" message="tns:IService_ReturnSubProjectFileDownload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnSubProjectFiles" message="tns:IService_ReturnSubProjectFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnSubProjectFilesResponse" message="tns:IService_ReturnSubProjectFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnSubProjectData" message="tns:IService_ReturnSubProjectData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnSubProjectDataResponse" message="tns:IService_ReturnSubProjectData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnSubProjectsList" message="tns:IService_ReturnSubProjectsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnSubProjectsListResponse" message="tns:IService_ReturnSubProjectsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBaseEnums">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnBaseEnums" message="tns:IService_ReturnBaseEnums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnBaseEnumsResponse" message="tns:IService_ReturnBaseEnums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchForContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchForContract" message="tns:IService_SearchForContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchForContractResponse" message="tns:IService_SearchForContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ValidateProject" message="tns:IService_ValidateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ValidateProjectResponse" message="tns:IService_ValidateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchFailedSurveyReasons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FetchFailedSurveyReasons" message="tns:IService_FetchFailedSurveyReasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FetchFailedSurveyReasonsResponse" message="tns:IService_FetchFailedSurveyReasons_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadUnitInstallationStatus">
      <soap:operation soapAction="http://tempuri.org/IService/UploadUnitInstallationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForSubProjectsUnitDataChanges">
      <soap:operation soapAction="http://tempuri.org/IService/CheckForSubProjectsUnitDataChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchInstallersProjectsList">
      <soap:operation soapAction="http://tempuri.org/IService/FetchInstallersProjectsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchInstallersList">
      <soap:operation soapAction="http://tempuri.org/IService/FetchInstallersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForUpdatedSettings">
      <soap:operation soapAction="http://tempuri.org/IService/CheckForUpdatedSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnAreSystemsAvailable">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnAreSystemsAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectFileChanges">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnSubProjectFileChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForDataDownloadChanges">
      <soap:operation soapAction="http://tempuri.org/IService/CheckForDataDownloadChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileChanges">
      <soap:operation soapAction="http://tempuri.org/IService/UploadFileChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSubProjectFiles">
      <soap:operation soapAction="http://tempuri.org/IService/UploadSubProjectFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSubProjectDataChanges">
      <soap:operation soapAction="http://tempuri.org/IService/UploadSubProjectDataChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSubProjectNotesChanges">
      <soap:operation soapAction="http://tempuri.org/IService/UploadSubProjectNotesChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectFileDownload">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnSubProjectFileDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectFiles">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnSubProjectFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectData">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnSubProjectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnSubProjectsList">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnSubProjectsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBaseEnums">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnBaseEnums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForContract">
      <soap:operation soapAction="http://tempuri.org/IService/SearchForContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateProject">
      <soap:operation soapAction="http://tempuri.org/IService/ValidateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchFailedSurveyReasons">
      <soap:operation soapAction="http://tempuri.org/IService/FetchFailedSurveyReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="https://abpwebtest.anglian-windows.com/ax-surveyor-service-ext-105/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>