ANG-ABP-REALTIME-SYSTEM/ANG-ABP-SURVEYOR-CLASS/Service References/wcfErrorLog/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://fclext.anglian-windows.com/fmerrorlog/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ANG_RET_FM_ERRORLOG_WCF_EXTERNAL" />
  <xs:element name="ReportError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ANG_RET_FM_ERRORLOG_WCF_EXTERNAL" minOccurs="0" name="v_eiError" nillable="true" type="q1:ErrorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportErrorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>