Anglian/Anglian.UWP/Service References/WcfLogin/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://abpwebtest.anglian-windows.com/ax-logon-ext-test/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_LOGON_INTERNAL_WCF" />
  <xs:element name="Logon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_LOGON_INTERNAL_WCF" minOccurs="0" name="LogonResult" nillable="true" type="q1:LogonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>