ABP/ABP/Service References/Login/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_LOGON_INTERNAL_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_LOGON_INTERNAL_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogonResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountDisabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="CallSuccessfull" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvalidDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogonResult" nillable="true" type="tns:LogonResult" />
</xs:schema>