ABP/ABP/Service References/ServiceExt/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://abpwebtest.anglian-windows.com/ax-surv-service-ext-116/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" />
  <xs:import schemaLocation="https://abpwebtest.anglian-windows.com/ax-surv-service-ext-116/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_CLASS" />
  <xs:element name="UploadUnitInstallationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sSubProjectNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sUserProfile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sMachineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_dInstallationDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="v_sInstallationTeam" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="v_udUnits" nillable="true" type="q1:ArrayOfUnitDetails" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadUnitInstallationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="UploadUnitInstallationStatusResult" nillable="true" type="q2:UploadUnitsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForSubProjectsUnitDataChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sSubProjectNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="v_udUnits" nillable="true" type="q3:ArrayOfUnitDetails" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForSubProjectsUnitDataChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="CheckForSubProjectsUnitDataChangesResult" nillable="true" type="q4:CheckUnitChangesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchInstallersProjectsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sInstallerUserProfile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchInstallersProjectsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="FetchInstallersProjectsListResult" nillable="true" type="q5:ProjectSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchInstallersList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_dLastUpdateDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchInstallersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="FetchInstallersListResult" nillable="true" type="q6:FetchInstallersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForUpdatedSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="v_svSettings" nillable="true" type="q7:ArrayOfSettingDetails" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForUpdatedSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="CheckForUpdatedSettingsResult" nillable="true" type="q8:SettingsCheckResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnAreSystemsAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sUserProfile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnAreSystemsAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="ReturnAreSystemsAvailableResult" nillable="true" type="q9:SystemsAvailableResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectFileChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sProjectNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sSubProjectNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="v_fdFiles" nillable="true" type="q10:ArrayOfSubProjectFileDetail" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectFileChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="ReturnSubProjectFileChangesResult" nillable="true" type="q11:FileChangesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForDataDownloadChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sPurpose" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="v_cSubProjects" nillable="true" type="q12:ArrayOfDownloadDataChange" />
        <xs:element minOccurs="0" name="v_bCheckForNewSubProjects" type="xs:boolean" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForDataDownloadChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="CheckForDataDownloadChangesResult" nillable="true" type="q13:DownloadDataChangesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sSubProjectNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="v_cChanges" nillable="true" type="q14:ArrayOfUploadFileChange" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="UploadFileChangesResult" nillable="true" type="q15:UploadChangesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSubProjectFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sSubProjectNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sMachineName" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="v_cChanges" nillable="true" type="q16:ArrayOfUploadFileChange" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSubProjectFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="UploadSubProjectFilesResult" nillable="true" type="q17:UploadChangesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSubProjectDataChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sPurpose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sMachineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sSubProjectNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_CLASS" minOccurs="0" name="v_cChanges" nillable="true" type="q18:ArrayOfcAXData.UploadDataChange" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSubProjectDataChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="UploadSubProjectDataChangesResult" nillable="true" type="q19:UploadChangesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSubProjectNotesChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sPurpose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sMachineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sSubProjectNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="v_cNotes" nillable="true" type="q20:ArrayOfNoteDetails" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSubProjectNotesChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="UploadSubProjectNotesChangesResult" nillable="true" type="q21:UploadChangesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectFileDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectFileDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="ReturnSubProjectFileDownloadResult" nillable="true" type="q22:SubProjectFileDownloadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sProjectNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="ReturnSubProjectFilesResult" nillable="true" type="q23:SubProjectFilesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sProjectNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sPurpose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="ReturnSubProjectDataResult" nillable="true" type="q24:SubProjectDataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sProjectNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sPurpose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSubProjectsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="ReturnSubProjectsListResult" nillable="true" type="q25:SubProjectsListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBaseEnums">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="v_beFields" nillable="true" type="q26:ArrayOfBaseEnumField" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBaseEnumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="ReturnBaseEnumsResult" nillable="true" type="q27:BaseEnumResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchForContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sProjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchForContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="SearchForContractResult" nillable="true" type="q28:ProjectSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sProjectNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="ValidateProjectResult" nillable="true" type="q29:ProjectValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchFailedSurveyReasons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v_sCompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_dLastUpdateDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="v_sAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchFailedSurveyReasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ANG_ABP_AX_WCF" minOccurs="0" name="FetchFailedSurveyReasonsResult" nillable="true" type="q30:FetchSurveyFailedReasonsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>